.modal-success {
  z-index: 100;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 280px;
}

.modal-success__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 0;
  cursor: pointer;
}

.modal-success__title {
  font-size: 24px;
  font-weight: 900;
  margin-top: 43px;
  padding-left: 36px;
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

.modal-success__container {
  border-radius: 16px;
  background: #ffffff;
  position: relative;
  z-index: 1;
  width: 430px;
  height: 182px;
}

.modal-success__submit {
  color: #2f71e5;
  border: none;
  background: none;
  padding-left: 36px;
  padding-bottom: 51px;
  margin-top: 14px;
  font-weight: 400;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.modal-success__close {
  position: absolute;
  display: block;
  top: -40px;
  right: -40px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-success__close-button {
  width: 40px;
  height: 40px;
}

@media (max-width: 480px) {
  .modal-success__container {
    position: fixed;
    top: 100px;
    width: 90%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal-success__close {
    display: none;
  }
}
